Source: do-backup
Section: universe/devel
Priority: optional
Maintainer: Azamat S. Kalimoulline <turtle@bazon.ru>
Build-Depends-Indep: dh-lisp
Build-Depends: debhelper (>= 7.0.0)
Standards-Version: 3.8.2.0

Package: do-backup
Architecture: all
Depends: ${misc:Depends}, sbcl-daemon, clon, external-program, external-program-extender, p7zip-full, coreutils
Description: BACKUP tool

